<%= simple_form_for code_challenge,
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } do |f| %>
  <%= f.error_notification %>
  <section class="row">
    <section class="col-md-6">
      <%= f.input :left_code_sample, required: false %>
    </section>
    <section class="col-md-6">
      <%= f.input :right_code_sample, required: false %>
    </section>
  </section>
  <% if current_user.admin? %>
    <%= f.input :left_time_msec %>
    <%= f.input :right_time_msec %>
  <% end %>
  <%= f.input :goal, as: :radio_buttons, collection: CodeChallenge::GOALS.map(&:to_sym), required: false %>
  <%= f.button :submit %>
<% end %>
