<h1>Submit new code challenge</h1>

<section class="alert alert-info" role="alert">
  Your submitted code challenge will become publicly available, and will be
  licensed under
  <a href="https://github.com/sikachu/the_ruby_challenge/blob/master/LICENSE" class="alert-link">MIT License</a>.
</section>

<%= simple_form_for @code_challenge,
  wrapper_mappings: {
    check_boxes: :vertical_radio_and_checkboxes,
    radio_buttons: :vertical_radio_and_checkboxes,
    file: :vertical_file_input,
    boolean: :vertical_boolean
  } do |f| %>
  <%= f.error_notification %>
  <section class="row">
    <section class="col-md-6">
      <%= f.input :left_code_sample, required: false %>
    </section>
    <section class="col-md-6">
      <%= f.input :right_code_sample, required: false %>
    </section>
  </section>
  <%= f.input :goal, as: :radio_buttons, collection: CodeChallenge::GOALS.map(&:to_sym), required: false %>
  <%= f.button :submit %>
<% end %>
