<% unless signed_in? %>
  <div class="alert alert-info">
    The Ruby Challenge is an upcoming show at
    <a href="http://rubykaigi.org/2014/presentation/S-PremSichanugrist" class="alert-link" target="_blank">RubyKaigi 2014</a>
    which we pick random contestants and challenge them to pick one best code
    sample from those two presented in a challenge, which are submitted by
    Rubyists around the world.
    <a href="/" class="alert-link">Read more on the home page &raquo;</a>
  </div>
<% end %>

<h1 class="no-margin">
  Code challenge: #<%= @code_challenge.slug %>

  <% if @code_challenge.submitted_by? current_user %>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Checkout my submitted code challenge for #TheRubyChallenge"></a>
  <% else %>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Checkout this submitted code challenge for #TheRubyChallenge"></a>
  <% end %>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  <% if @code_challenge.submitted_by? current_user %>
    <section class="pull-right">
      <%= link_to [:edit, @code_challenge], class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-pencil"></span> Edit
      <% end %>
      <%= link_to @code_challenge, class: "btn btn-default btn-danger-on-hover", method: :delete,
        data: { confirm: "Are you sure you want to remove this code challenge?\n(This action cannot be undone.)" } do %>
        <span class="glyphicon glyphicon-trash"></span> Delete
      <% end %>
    </section>
  <% end %>
</h1>

<p class="submitter">
  Submitted by
  <%= link_to @code_challenge.submitter.github_username, @code_challenge.submitter.github_url, target: "_blank" %>
  on
  <%= l @code_challenge.created_at %>
</p>

<%= content_tag_for :section, @code_challenge, class: "row" do %>
  <section class="col-md-6">
    <%= render_code_sample @code_challenge.left_code_sample %>
  </section>
  <section class="col-md-6">
    <%= render_code_sample @code_challenge.right_code_sample %>
  </section>
<% end %>
