<%= link_to "Back to game", @game, id: "game-link" %>

<section id="left-code-sample" class="<%= "selected" if params[:side] == "left" %>">
  <%= render_code_sample @code_challenge.left_code_sample %>
  <aside>
    <%= checkmark_if @code_challenge.left_wins? %>
    <%= runtime @code_challenge.left_time_usec %>
  </aside>
</section>

<section id="right-code-sample" class="<%= "selected" if params[:side] == "right" %>">
  <%= render_code_sample @code_challenge.right_code_sample %>
  <aside>
    <%= checkmark_if @code_challenge.right_wins? %>
    <%= runtime @code_challenge.right_time_usec %>
  </aside>
</section>
