<%= simple_form_for Game.new do |f| %>
  <%= f.submit "Create new game" %>
<% end %>

<ul id="code-challenges">
  <% if @game.code_challenge_1 %>
    <li><%= link_to_unless @game.code_challenge_1_displayed?, "1", [@game, @game.code_challenge_1] %></li>
  <% end %>
  <% if @game.code_challenge_2 %>
    <li><%= link_to_unless @game.code_challenge_2_displayed?, "2", [@game, @game.code_challenge_2] %></li>
  <% end %>
  <% if @game.code_challenge_3 %>
    <li><%= link_to_unless @game.code_challenge_3_displayed?, "3", [@game, @game.code_challenge_3] %></li>
  <% end %>
  <% if @game.code_challenge_4 %>
    <li><%= link_to_unless @game.code_challenge_4_displayed?, "4", [@game, @game.code_challenge_4] %></li>
  <% end %>
  <% if @game.code_challenge_5 %>
    <li><%= link_to_unless @game.code_challenge_5_displayed?, "5", [@game, @game.code_challenge_5] %></li>
  <% end %>
</ul>

<p>
  <strong>Score:</strong>
  <span id="score"><%= @game.score %></span>
</p>
