<header class="navbar navbar-inverse" role="navigation">
  <section class="container">
    <header class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "The Ruby Challenge", root_path, class: "navbar-brand" %>
    </header>

    <ul class="nav navbar-nav">
      <%= active_link_to "Home", root_path, active: ['home'], wrap_tag: :li %>
      <%= active_link_to "Code Challenges", code_challenges_path, wrap_tag: :li %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <%= render "user_navigation" %>
      <% else %>
        <%= render "guest_navigation" %>
      <% end %>
    </ul>
  </section>
</header>
