<!DOCTYPE html>
<html>
  <head>
    <title>The Ruby Challenge</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <% if signed_in? %>
        Welcome, <%= current_user.github_username %>
        |
        <%= link_to "My code challenges", code_challenges_path %>
        |
        <%= link_to "Submit new", new_code_challenge_path %>
        |
        <%= link_to "Sign out", signout_path %>
      <% else %>
        <%= link_to "Sign in with GitHub", signin_path %>
      <% end %>
    </header>
    <section id="main">
      <%= render "layouts/flash" %>
      <%= yield %>
    </section>
  </body>
</html>
